<ul>
    <% groups.forEach( function(group) { %>
        <li>
            <a href="<%=makeUrl(['groups', group.id,])%>">
                <%= group.name %>
            </a>
        </li>
    <% }); %>
</ul>
